<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- 네비게이션 바 -->
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'update' %}">Update</a>
        <a href="{% url 'delete' %}">Delete</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    </div>

    <div class="container">
        <h2>Welcome, {{ user.username }}</h2>
        <h3>🌥️Catche!!Goorm☁️</h3>

        <p>User ID: {{ user.username }}</p>
        <p>Name: {{ user.first_name }}</p>
        
        <a href="https://github.com/Kakao-X-Goorm-DEEP-DIVE-course/Catch-Goorm" class="button">go we're github</a></button>
        <a href="{% url 'update' %}" class="button">Update Your Information</a><br>
        <a href="{% url 'delete' %}" class="button">Delete Your Account</a><br>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
